<footer class="footer">
  <small>
    This is a sample app by book <a href="http://railstutorial.org/">Rails Tutorial</a>
    User:jslee
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
