<footer class="footer">
  <small>
    This is a web app for MicroBlogging created by <a href="/users/1">jslee</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li>News</li>
    </ul>
  </nav>
</footer>
